.list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.list-item-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: #faf074;
}

.list-item-annotation {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #fefefe;
}

.list-item-annotation-modal {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.list-item-info {
  font-size: 1.1rem;
  color: #faf074;
}

.list-item-info-modal {
  font-style: italic;
  font-size: 1.1rem;
}

@media (max-width: 466px) {
  .list-item-modal {
    gap: 1rem;
  }

  .list-item-annotation-modal {
    font-size: 1rem;
  }

  .list-item-info-modal {
    font-style: italic;
    font-size: 0.8rem;
  }
}