.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #faf074;

}

.list-item-annotation {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.list-item-info {
  font-style: italic;
  font-size: 0.9rem;
}