* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f8ff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #04b2c8;
  /* color: #b8d344; */
  /* background-color: #121447; */
}