.card-info-page {
  display: flex;
  gap: 5rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 3rem;
  border: 4px solid #b8d344;
  border-radius: 1.1rem;
  background-color: #15153a;
}

.card-info-page-left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 300px;
}

.img-wrapper {
  border-radius: 24px;
  overflow: hidden;
  border: 4px solid #b8d344;
}

.img {
  display: block;
}

.name {
  font-size: 2rem;
  color: #04b2c8;
  text-align: center;
}

.card-info-page-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.marker,
.marker-alive,
.marker-dead {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #aaa;
  border-radius: 50%;
}

.marker-alive {
  background-color: #55cc44;
}

.marker-dead {
  background-color: #d63d2e;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.list-item:first-child {
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.list-item-annotation {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #fefefe;
}

.list-item-info {
  font-size: 1.1rem;
  color: #faf074;

}

.back-btn {
  width: 16rem;
  height: 2.5rem;
  padding: 0 1rem 0;
  font-size: 1.2rem;
  color: #04b2c8;
  outline: none;
  border: 2px solid #04b2c8;
  border-radius: 1.25rem;
  background-color: transparent;
  transition: all 0.3s ease-in;
}

.back-btn:hover {
  color: #fff;
  border-color: #b8d344;
  background-color: #212246;
  cursor: pointer;
}