.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.2rem;
  border: 2px solid #04b2c8;
  border-radius: 1.25rem;
}

.controls-element {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pages {
  display: flex;
  gap: 0.5rem;
}

.page-label,
.page-preposition,
.pages-at-all {
  display: flex;
  align-items: center;
}

.pages-at-all {
  min-width: 2.3rem;
  font-weight: 700;
  color: #b8d344;
}

.input-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4rem;
  height: 1.6rem;
  padding: 0 0.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #b8d344;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: rgb(4, 178, 200, 0.4);
  transition: all 0.3s ease-in;
}

.input-page:focus {
  color: #000;
  background-color: #fff;
}

.cards-on-page {
  display: flex;
}

.cards-on-page-title {
  display: flex;
  align-items: center;
  padding-right: 0.4rem;
}

.sorting,
.cards-on-page {
  padding-left: 0.5rem;
}

.sorting-options {
  height: 2.5rem;
  padding: 0 1rem 0;
  font-size: 1.2rem;
  color: #b8d344;
  outline: none;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.vertical-line {
  width: 3px;
  height: 1.3rem;
  background-color: #04b2c8;
}