.header {
  display: flex;
  padding-top: 1rem;
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.header-links {
  display: flex;
  height: 2.8rem;
  gap: 1.5rem;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link,
.link-active {
  display: block;
  font-size: 1.4rem;
  transition: all 0.3s ease-in;
}


.link:hover,
.link-active:hover {
  color: #b8d344;
}

.link-active {
  color: #b8d344;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  margin-left: auto;
  border: 2px solid #04b2c8;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #faf074;
}