.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  /* padding: 1rem 0; */
}

.cards-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 auto;
  max-width: 1120px;
}

.error-message {
  font-size: 2.5rem;
}

@media (max-width: 1187px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 736px;
  }
}

@media (max-width: 804px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}