.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  /* padding: 1rem 0; */
}

.cards-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 auto;
  max-width: 1120px;
}

.error-message {
  font-size: 2.5rem;
}

/* Loader was inspired by https://codepen.io/derekmorash */
.loader {
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid #b8d344;
  border-radius: 100%;
  animation: spinRight 800ms linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  width: 6vmax;
  height: 6vmax;
  display: block;
  position: absolute;
  top: calc(50% - 3vmax);
  left: calc(50% - 3vmax);
  border-left: 3px solid #b8d344;
  border-radius: 100%;
  animation: spinLeft 800ms linear infinite;
}

.loader::after {
  width: 4vmax;
  height: 4vmax;
  top: calc(50% - 2vmax);
  left: calc(50% - 2vmax);
  border: 0;
  border-right: 2px solid #b8d344;
  animation: none;
}

@keyframes spinLeft {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes spinRight {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@media (max-width: 1187px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 736px;
  }
}

@media (max-width: 804px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}