.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 22rem;
  /* height: 497px; */
  padding: 1.5rem;
  font-size: 1.2rem;
  border: 4px solid #b8d344;
  border-radius: 1.1rem;
  background-color: #15153a;
  transition: all 0.3s ease-in;
}

.card:hover {
  box-shadow: 2px 4px 16px rgb(0 0 0 / 26%);
  -webkit-transform: scale3d(1.01, 1.01, 1.01);
  transform: scale3d(1.01, 1.01, 1.01);
}

.img-wrapper {
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  border: 4px solid #b8d344;
  border-radius: 50%;
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
}

.name {
  padding: 0.5rem 0;
  text-align: center;
  color: #04b2c8;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #faf074;

}

.list-item-annotation {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.list-item-info {
  font-style: italic;
  font-size: 0.9rem;
}